@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Giton-Black;
        src: url("../public/fonts/Giton Black.otf");
    }

    @font-face {
        font-family: Giton-Bold;
        src: url("../public/fonts/Giton Bold.otf");
    }

    @font-face {
        font-family: Giton-Reg;
        src: url("../public/fonts/Giton Regular.otf");
    }

    @font-face {
        font-family: Whitney-Light;
        src: url("../public/fonts/Whitney Light.otf");
    }

    @font-face {
        font-family: Whitney-Reg;
        src: url("../public/fonts/Whitney Regular.otf");
    }

    @font-face {
        font-family: Whitney-Semi;
        src: url("../public/fonts/Whitney SemiBold.otf");
    }
    
    .fade-in-section {
        opacity: 0;
        transform: translateY(6vh);
        visibility: hidden;
        transition: opacity .7s ease-out, transform .5s ease-out;
        will-change: opacity, visibility;
    }
    .fade-in-section.is-visible {
        opacity: 1;
        transform: none;
        visibility: visible;
    }
}